@model IMSystemUI.Domain.ItemEmployeeAssignment

@{
    ViewData["Title"] = "Delete Item Transfer";
    Layout = "_LayoutDashboard";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ItemEmployeeAssignment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssigmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssigmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemEmployeeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemEmployeeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueSignature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueSignature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverSignature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverSignature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReturned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReturned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnedCondition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResonForNotReturn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResonForNotReturn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReturned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReturned)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
