@model IEnumerable<IMSystemUI.Domain.ItemEmployeeAssignment>

@{
    ViewData["Title"] = "History Item Transfer";
    string returnCondiction = string.Empty;
    string reasonForNotReturn = string.Empty;
    string date = string.Empty;
    string noneClass = string.Empty;
    string isReturn = string.Empty;
    Guid assetId = (Guid)ViewBag.StoreAssetId;
    Layout = "_LayoutDashboard";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table class="table rounded table-bordered shadow-lg">
        <thead class="alert-heading" style="background-color: #676e79;color: #fff">
            <tr>
                <th>IssuerBy</th>
                <th style="width: 2%"></th>
                <th>ReceiverBy</th>
                <th>@Html.DisplayNameFor(model => model.Item!.Name)</th>
                <th>@Html.DisplayNameFor(model => model.DateTaken)</th>
                <th>@Html.DisplayNameFor(model => model.DateReturned)</th>
                <th style="width: 7%">@Html.DisplayNameFor(model => model.IsReturned)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IssuerBy!.Firstname - @item.IssuerBy.Lastname (@Html.DisplayFor(model => item.IssuerBy!.UserName))</td>
                    <td> <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span> </td>
                    <td>@item.ReceiverBy!.Firstname - @item.ReceiverBy.Lastname (@Html.DisplayFor(modelItem => item.ReceiverBy!.UserName))</td>
                    <td>@Html.DisplayFor(modelItem => item.Item!.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateTaken)</td>
                    <td>
                        @{
                            //noneClass = "fa fa-times text-center";
                            if (item.DateReturned.HasValue)
                            {
                                date = item.DateReturned.Value.Date.ToShortDateString();
                                //noneClass = string.Empty;
                            }

                        }
                        <span><i class="@noneClass" aria-hidden="true">@date</i></span>
                    </td>
                    <td>
                        @{
                            isReturn = "fa fa-times-circle";
                            if (item.IsReturned)
                            {
                                isReturn = "fa fa-check-circle text-center";
                            }

                        }
                        <span><i class="@isReturn" aria-hidden="true"></i></span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group mb-3">
        <a asp-action="PrintToPdf" asp-controller="ItemEmployeeAssignment" asp-route-id="@assetId" class="btn btn-outline-dark shadow-sm m-0m">Pdf Print</a>
        &nbsp;
        <a asp-action="Index" class="btn btn-outline-secondary shadow-sm">Back to List</a>
    </div>
</div>


