@model IMSystemUI.Domain.Supplier

@{
    ViewData["Title"] = "Details Supplier";
    Layout = "_LayoutDashboard";
}
<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="container bg-opacity-100 shadow-sm">
        <table class="mb-2">
            <tbody class="w-100 table table-striped">
                <tr>
                    <th class="p-2">@Html.DisplayNameFor(model => model.SupplierId)</th>
                    <td class="p-2">@Html.DisplayFor(model => model.SupplierId)</td>
                </tr>

                <tr>
                    <th class="p-2">@Html.DisplayNameFor(model => model.SupplierName)</th>
                    <td class="p-2">@Html.DisplayFor(model => model.SupplierName)</td>
                </tr>

                <tr>
                    <th class="p-2">@Html.DisplayNameFor(model => model.SupplierDescription)</th>
                    <td class="p-2"> @Html.DisplayFor(model => model.SupplierDescription)</td>
                </tr>

                <tr>
                    <th class="p-2">@Html.DisplayNameFor(model => model.BookingDate)</th>
                    <td class="p-2"> @Html.DisplayFor(model => model.BookingDate)</td>
                </tr>

            </tbody>
        </table>

        <div class="mb-2">
            @Html.ActionLink("Edit", "Edit", new { id = Model.SupplierId }, new { @class = "btn btn-light shadow-sm m-0" })
            <a asp-action="Index" class="btn btn-outline-secondary shadow-sm">Back to List</a>
        </div>
    </div>
</div>
