@model IMSystemUI.Domain.ShelveType

@{
    ViewData["Title"] = "Details ShelveType";
}
<div class="row">
    <div class="container bg-opacity-100 shadow-sm">
        <table class="mb-2">
            <tbody >
                <tr >
                    <th class="p-2"> @Html.DisplayNameFor(model => model.ShelfId)</th>
                    <td>@Html.DisplayFor(model => model.ShelfId)</td>
                </tr>
                <tr>
                    <th class="p-2">@Html.DisplayNameFor(model => model.ShelfTag)</th>
                    <td>@Html.DisplayFor(model => model.ShelfTag)</td>
                </tr>
            </tbody>
        </table>
        <div class="mb-2">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ShelfId }, new { @class = "btn btn-light shadow-sm m-0" })
            <a asp-action="Index" class="btn btn-outline-secondary shadow-sm">Back to List</a>
        </div>
    </div>
</div>


