@model IEnumerable<IMSystemUI.Domain.ItemCount>
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_LayoutDashboard";

    int TotalNoItem = (int)ViewBag.TotalNoItem;
    int TotalNoTransfer = (int)ViewBag.TotalNoTransfer;
    int TotalNoMostUsedItems = (int)ViewBag.TotalNoMostUsedItems;
    int TotalNoItemRepair = (int)ViewBag.TotalNoItemRepair;

}

<div class="container-fluid px-4">
    <h6 class="display-6">@ViewData["Title"]</h6>
    <div class="row g-3 my-2">
        <div class="col-md-3">
            <div class="p-3 bg-white shadow-lg d-flex justify-content-around align-items-center rounded">
                <div>
                    <h3 class="fs-2">@TotalNoItem</h3>
                    <p class="fs-5">Total Items</p>
                </div>
                <div>
                    <i class="fa-solid fa-hammer fs-1 primary-text border rounded-circle bg-danger bg-opacity-50 p-3"></i>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="p-3 bg-white shadow-lg d-flex justify-content-around align-items-center rounded">
                <div>
                    <h3 class="fs-2">@TotalNoTransfer</h3>
                    <p class="fs-5">Total Transfer</p>
                </div>
                <div>
                    <i class="fa-solid fa-arrows-spin fs-1 primary-text border rounded-circle bg-info bg-opacity-50 p-3"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="p-3 bg-white shadow-lg d-flex justify-content-around align-items-center rounded">
                <div>
                    <h3 class="fs-2">@TotalNoMostUsedItems</h3>
                    <p class="fs-5">Top 10 Used</p>
                </div>
                <div>
                    <i class="fa-solid fa-hands-bubbles fs-1 primary-text border rounded-circle bg-success bg-opacity-50 p-3"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="p-3 bg-white shadow-lg d-flex justify-content-around align-items-center rounded">
                <div>
                    <h3 class="fs-2">@TotalNoItemRepair</h3>
                    <p class="fs-5">Repairs</p>
                </div>
                <div>
                    <i class="fa-solid fa-truck-arrow-right  fs-1 primary-text border rounded-circle bg-warning bg-opacity-50 p-3"></i>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-12 ">
                <div class="card">
                    <div class="fs-4 mb-3  card-header text-center">Items Per Shelve</div>
                    <div class="col card-body">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
            
        </div>


    </div>
</div>


@section Scripts {

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script type="text/javascript">

        var Count = [];
        var Shelves = [];

        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                @:Count.push(@item.Count);
                @:Shelves.push('@item.Name');
            }
        }

        const ctx = document.getElementById('myChart').getContext('2d');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: Shelves,
                datasets: [{
                    label: 'Shelves',
                    data: Count,
                    //borderWidth: 1
                }]
            },
            //options: {
            //    scales: {
            //        y: {
            //            beginAtZero: true
            //        }
            //    }
            //}
        })




    </script>



}

